@import "tailwindcss";
@font-face {
  font-family: 'SolaimanLipi';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/SolaimanLipiNormal") format("woff");
}
@theme {
 --color-brand: #124b65;
}